fastapi==0.136.1
joblib==1.5.3
mlflow==3.12.0
mlflow_skinny==3.12.0
mlflow_tracing==3.12.0
numpy==2.4.6
pandas==3.0.3
pydantic==2.13.4
pytest==9.0.3
python-dotenv==1.2.2
scikit_learn==1.8.0
setuptools==82.0.0
